{% extends "base.html" %}
{% block content %}
    <header class="masthead text-center text-black">
        <h1 class="display-4">judging cat videos</h1>
        <p class="lead">A really simple project to judge cat videos</p>
        <div class="mb-3">
            <img class="img-fluid"
                 src="{{ url_for('static', filename='cat_main.png') }}"
                 align="middle" alt="cat drawing" width="15%"
            />
        </div>
        <hr class="my-4"/>
    </header>

    <div class="text-center mx-auto mb-3" style="width: 30%;">
        <form method="post">
            <div class="form-group">
                <label for="title">Enter your video title here:</label>
                <input type="text" class="form-control" id="title" name="title" aria-describedby="title_help" placeholder="Some really funny cat video">
                <small id="title_help" class="form-text text-muted">We'll let you know if it's worth watching!</small>
            </div>
            <button type="submit" class="btn btn-primary">Check</button>
        </form>
    </div>

{% endblock %}